*, *::before, *::after {

    box-sizing: border-box;
}

html, body {

    margin: 0;
    padding: 0;

    background: rgb(118, 118, 118);
    color: #FFF;

    font-size: calc(10px + 0.7vw);  /* aka at 1920px of width 23.44px */
}

body {

    text-align: center;
}

section {

    padding: 0.5% 1%;
}


/* game controls */
.game-buttons__container {
    
    margin: 0 0 0.5%;
}

.game__button {

    font-size: 1rem;

    padding: 0.5em 1em;

    border-radius: 0.5em;
    border: none;

    background: #FFF;
    color: #000;

    text-transform: uppercase;
    font-weight: 700;

    cursor: pointer;
}

.game__button:active {

    box-shadow: inset 0 0 0.3rem rgba(0, 0, 0, 0.4);
}

.game__button:disabled {

    background: rgb(200, 200, 200);
    color: rgb(70, 70, 70);

    box-shadow: inset 0 0 0.3rem rgba(0, 0, 0, 1);

    cursor: not-allowed;
}

/* game layout box (game + log output) */
.conway-game-life__game-container {
    
    display: flex;
    align-items: flex-start;
    justify-content: center;
    
    gap: 2%;
    
    flex-wrap: wrap;
}

.conway-game-life__game-container > * {   /* just a layout fix */

    margin: 0 0 0.5%;
}

/* game CANVAS */
#conway-game-life__canvas {

    max-width: 100%;
    max-height: 100%;

    border: 1px solid #000;
}

/* game aside log output */
.conway-game-life__log-output__container {
    
    min-width: 10%;
    max-width: 100%;
    
    padding: 0.5% 1%;
    
    border: 1px solid #000;
    border-radius: 0.8rem;
}

.conway-game-life__log-output__container h2 {

    text-decoration: underline #FFF;
}
